<p id="notice"><%= notice %></p>

<h1>Listing Plates</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Plate</th>
      <th>Turning</th>
      <th>Turning</th>
      <th>Speed</th>
      <th>Speed</th>
      <th>Merging</th>
      <th>Merging</th>
      <th>Parking</th>
      <th>Parking</th>
      <th>General</th>
      <th>General</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plates.each do |plate| %>
      <tr>
        <td><%= plate.state %></td>
        <td><%= plate.plate %></td>
        <td><%= plate.turning %></td>
        <td><%= plate.turning %></td>
        <td><%= plate.speed %></td>
        <td><%= plate.speed %></td>
        <td><%= plate.merging %></td>
        <td><%= plate.merging %></td>
        <td><%= plate.parking %></td>
        <td><%= plate.parking %></td>
        <td><%= plate.general %></td>
        <td><%= plate.general %></td>
        <td><%= link_to 'Show', plate %></td>
        <td><%= link_to 'Edit', edit_plate_path(plate) %></td>
        <td><%= link_to 'Destroy', plate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plate', new_plate_path %>
