<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @plate.state %>
</p>

<p>
  <strong>Plate:</strong>
  <%= @plate.plate %>
</p>

<p>
  <strong>Turning:</strong>
  <%= @plate.turning %>
</p>

<p>
  <strong>Turning:</strong>
  <%= @plate.turning %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @plate.speed %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @plate.speed %>
</p>

<p>
  <strong>Merging:</strong>
  <%= @plate.merging %>
</p>

<p>
  <strong>Merging:</strong>
  <%= @plate.merging %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @plate.parking %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @plate.parking %>
</p>

<p>
  <strong>General:</strong>
  <%= @plate.general %>
</p>

<p>
  <strong>General:</strong>
  <%= @plate.general %>
</p>

<%= link_to 'Edit', edit_plate_path(@plate) %> |
<%= link_to 'Back', plates_path %>
