<table>
  <tr>
    <td>License Plate</td>
    <td>Turning</td>
    <td>Merging</td>
    <td>Speed</td>
    <td>Parking</td>
    <td>General/Other</td>
    <td>Overall</td>
  </tr>
  <tr>
    <td><%= @qstate %> <%= @qplate %></td>
    <td><%= @turning %></td>
    <td><%= @merging %></td>
    <td><%= @speed %></td>
    <td><%= @parking %></td>
    <td><%= @general %></td>
    <td><%= @overall %></td>
  </tr>
</table>
<% if @overall == '' %>
  <h2>No reviews were submitted against your plate.</h2>
<% end %>
